.headerContainer {
	display: flex;
	font-size: xx-large;
	justify-content: space-around;
	align-items: baseline;
	color: rgb(209, 174, 241);
}

body {
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(./dora-lexploratrice.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.containerTaupes {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 40px calc((100% - (255px * 3)) / 2);
}

.itemTaupe {
	height: 120px;
	box-shadow: 8px 3px 3px rgb(113, 99, 126);
	background-color: rgb(152, 112, 188);
	text-align: center;
	flex: 0 0 215px;
	margin: 1rem;
}

img {
	height: 100px;
	width: 100px;
}

#gameOver {
	font-size: larger;
}
#looseMsg {
	color: rgb(167, 3, 3);
}

#winMsg {
	color: rgb(1, 48, 1);
}
